.about-me-description {
  font-size: 1.6rem;
  line-height: 150%;
  margin: 0;
  padding: 3.2rem 0;
  text-align: center;
}

.about-me-description-strong {
  color: var(--main-color);
}

@media only screen and (min-width: 992px) {
  .about-me-description {
    font-size: 1.8rem;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .about-me-description {
    font-size: 2rem;
    padding: 4rem 0;
    letter-spacing: 0.2px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-description {
    font-size: 2.4rem;
    padding: 5.6rem 0;
    width: 78%;
  }
}
