.about-me {
  margin-top: 9.2rem;
}

.about-me-description {
  font-size: 1.6rem;
  line-height: 140%;
  margin: 0 0 3.6rem 0;
  padding: 0 1.42em;
  text-align: center;
}

.about-me-description-strong {
  color: var(--main-color);
}

@media only screen and (min-width: 768px) {
  .about-me {
    margin-top: 11.6rem;
  }

  .about-me-description {
    padding: 0;
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .about-me {
    margin-top: 12rem;
  }

  .about-me-description {
    font-size: 1.8rem;
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .about-me {
    margin-top: 19.6rem;
  }

  .about-me-description {
    font-size: 2rem;
    line-height: 160%;
    margin: 0 0 6rem 0;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me {
    margin-top: 20rem;
  }

  .about-me-description {
    font-size: 2.4rem;
    margin: 0 0 7.2rem 0;
    width: 78%;
  }
}
