.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 4.6rem;
  position: relative;
  gap: 1.2rem 0;
}

.contact-form-label-and-input {
  display: flex;
  flex-direction: column;
}

.contact-form-label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.contact-form-input,
.contact-form-message {
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.contact-form-input {
  height: 3.6rem;
  padding: 0 1rem;
}

.contact-form-message {
  height: 14.6rem;
  padding: 1rem;
  resize: none;
}

.contact-form-button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  height: 4.3rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 576px) {
  .contact-form {
    grid-template-columns: 40rem;
    justify-content: center;
  }

  .contact-form-button {
    margin-top: 2.7rem;
  }
}

@media only screen and (min-width: 768px) {
  .contact-form {
    gap: 1.6rem 0;
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    grid-template-columns: auto;
    justify-content: inherit;
    margin-top: 0;
  }

  .contact-form-input {
    height: 4.2rem;
  }

  .contact-form-message {
    height: 21rem;
  }
}

@media only screen and (min-width: 992px) {
  .contact-form-label {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .contact-form {
    gap: 2.4rem 0;
  }

  .contact-form-label {
    font-size: 2rem;
  }

  .contact-form-input {
    height: 4.8rem;
  }

  .contact-form-button {
    font-size: 1.8rem;
    height: 4.8rem;
    margin-top: 2.2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .contact-form {
    grid-template-columns: 27.8rem 39rem;
    gap: 6.5rem 4.8rem;
  }

  .contact-form .contact-form-label-and-input:nth-child(3) {
    grid-column: 1 / -1;
    margin-top: -4.1rem;
  }

  .contact-form-label {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }

  .contact-form-input {
    height: 5.6rem;
  }

  .contact-form-message {
    height: 26rem;
  }

  .contact-form-button {
    font-size: 2rem;
    grid-column: 1 / -1;
    height: 5.6rem;
    margin-top: 0;
  }
}
