.contact-form {
  display: grid;
  grid-template-rows: 6.5rem 1.6rem 6.5rem 1.6rem 17.6rem 4rem 4.3rem;
  padding-top: 4.6rem;
  position: relative;
}

.contact-form-label-and-input {
  display: flex;
  flex-direction: column;
}

.contact-form-label {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 0.8rem;
  opacity: 50%;
}

.contact-form-input,
.contact-form-message {
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.contact-form-input {
  height: 4rem;
  padding: 0 1rem;
}

.contact-form-label-and-input:nth-child(2) {
  grid-row: 3 / 4;
}

.contact-form-label-and-input:nth-child(3) {
  grid-row: 5 / 6;
}

.contact-form-message {
  height: 15.2rem;
  padding: 1rem;
  resize: none;
}

.contact-form-button {
  background-color: var(--accent-color);
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  grid-row: 7 / 8;
  height: 100%;
  text-transform: uppercase;
}

@media only screen and (min-width: 576px) {
  .contact-form {
    grid-template-rows: 6.5rem 1.6rem 6.5rem 1.6rem 16.9rem 4rem 5.1rem;
    grid-template-columns: 40rem;
    justify-content: center;
    padding-top: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .contact-form {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
    grid-template-columns: auto;
    grid-template-rows: 6.5rem 1.6rem 6.5rem 1.6rem 23.3rem 4rem 4.3rem;
    justify-content: inherit;
    margin-top: 0;
    padding: 0;
  }

  .contact-form-input {
    height: 4.2rem;
  }

  .contact-form-message {
    height: 21rem;
  }
}

@media only screen and (min-width: 992px) {
  .contact-form {
    grid-template-rows: 7.2rem 1.6rem 7.2rem 1.6rem 24rem 4rem 4.3rem;
  }

  .contact-form-label {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  .contact-form {
    grid-template-rows: 8rem 2.4rem 8rem 2.4rem 24.2rem 6rem 5.4rem;
  }

  .contact-form-label {
    font-size: 2rem;
  }

  .contact-form-input {
    font-size: 1.8rem;
    height: 4.8rem;
  }

  .contact-form-message {
    font-size: 1.8rem;
  }

  .contact-form-button {
    cursor: pointer;
    font-size: 1.8rem;
    height: 5.4rem;
  }
}

@media only screen and (min-width: 1440px) {
  .contact-form {
    column-gap: 2.4rem;
    grid-template-columns: 27.8rem 39rem;
    grid-template-rows: 10.1rem 3.2rem 30.5rem 7.2rem 7.2rem;
  }

  .contact-form .contact-form-label-and-input:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .contact-form .contact-form-label-and-input:nth-child(3) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .contact-form-label {
    font-size: 2.4rem;
    padding-bottom: 1.6rem;
  }

  .contact-form-input {
    height: 5.6rem;
  }

  .contact-form-message {
    height: 26rem;
  }

  .contact-form-button {
    font-size: 2rem;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    height: 7.2rem;
  }
}
