.email-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 2.4rem;
}

.email-title,
.email {
  margin: 0;
  position: relative;
  text-align: center;
}

.email-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.email {
  font-size: 1.4rem;
  line-height: 120%;
  padding-top: 0.4rem;
}

@media only screen and (min-width: 768px) {
  .email-wrapper {
    align-items: start;
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    padding: 0;
  }

  .email {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) {
  .email-title {
    font-size: 1.8rem;
  }

  .email {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1200px) {
  .email-title {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1440px) {
  .email-title {
    font-size: 2rem;
  }

  .email {
    font-size: 1.8rem;
    padding-top: 0.8rem;
  }
}
