:root {
  --background-color: hsl(0, 0%, 9%);
  --background-project-color: hsl(0, 0%, 13%);
  --main-color: hsl(356, 60%, 67%);
  --accent-color: hsl(208, 53%, 66%);
  --secondary-text-color: hsl(238, 100%, 10%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  background-color: var(--background-color);
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-title {
  align-items: center;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 0 3.6rem 0;
  position: relative;
  text-transform: uppercase;
}

footer {
  font-size: 1.4rem;
  margin-top: 9.2rem;
  text-align: center;
}
