:root {
  --background-color: hsl(0, 0%, 9%);
  --background-project-color: hsl(0, 0%, 13%);
  --main-color: hsl(356, 60%, 67%);
  --accent-color: hsl(208, 53%, 66%);
  --secondary-text-color: hsl(238, 100%, 10%);
}

html {
  font-size: 62.5%;
}

html,
body {
  background-color: var(--background-color);
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
