.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 2.4rem; */
  position: relative;
}

.header-image {
  height: auto;
  position: relative;
  width: 100%;
}

.header-title {
  color: var(--main-color);
  font-size: 4.2rem;
  margin: 0;
  padding: 3.2rem 0 0.8rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

.header-subtitle {
  font-size: 3.1rem;
  margin: 0;
  text-align: center;
}

.header-description {
  font-size: 1.6rem;
  letter-spacing: 0.1px;
  line-height: 1.5;
  margin: 0;
  padding: 3.2rem 0;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.cta-button {
  background-color: var(--main-color);
  border: none;
  border-radius: 3rem;
  color: var(--background-color);
  font-size: 1.6rem;
  line-height: 100%;
  padding: 1.6rem 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

.cta-button-second {
  background: transparent;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

@media only screen and (min-width: 576px) {
  .header {
    padding-top: 3rem;
  }

  .header-image {
    width: 38rem;
  }

  .header-title {
    padding: 3rem 0 2.4rem;
    width: 80%;
  }

  .header-subtitle {
    padding-bottom: 2.4rem;
    width: 94%;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    align-items: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    padding-top: 5.6rem;
    position: relative;
    row-gap: 3rem;
  }

  .header-image {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    justify-self: end;
    width: 35.3rem;
  }

  .header-title {
    font-size: 3.8rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .header-subtitle {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
  }

  .buttons {
    justify-content: flex-start;
    gap: 2.4rem;
    padding: 2.6rem 0 0 0;
  }

  .cta-button-second {
    border: 2px solid var(--main-color);
    width: auto;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    padding-top: 4.8rem;
    row-gap: 4rem;
  }

  .header-image {
    width: 40rem;
  }

  .header-title {
    font-size: 5.2rem;
  }

  .header-title-strong {
    line-height: 1;
  }

  .header-subtitle {
    font-size: 1.8rem;
    width: 91%;
  }

  .buttons {
    gap: 3.2rem;
    padding: 0;
  }

  .cta-button {
    border-radius: 5rem;
    font-size: 1.8rem;
    height: 5.2rem;
    line-height: 1.8rem;
    padding: 1.6rem;
    width: auto;
  }

  .cta-button-second {
    line-height: 1.6rem;
    width: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    padding-top: 4.8rem;
  }

  .header-image {
    margin-top: 1.4rem;
    width: 47.4rem;
  }

  .header-title {
    font-size: 6rem;
  }

  .header-subtitle {
    font-size: 2rem;
    line-height: 1.6;
  }

  .buttons {
    gap: 4rem;
    margin-top: 0;
  }

  .cta-button {
    font-size: 2.2rem;
    height: 5.8rem;
    line-height: 2.6rem;
    padding: 1.6rem 2.4rem;
  }

  .cta-button-second {
    line-height: 2.2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding-top: 6.4rem;
    row-gap: 4.8rem;
  }

  .header-image {
    margin-top: 1.4rem;
    width: 56.7rem;
  }

  .header-title {
    font-size: 7.2rem;
  }

  .header-subtitle {
    font-size: 2.4rem;
    width: 90%;
  }

  .buttons {
    gap: 4.8rem;
  }

  .cta-button {
    font-size: 2.4rem;
    height: 7.7rem;
    line-height: 3rem;
    padding: 2.4rem 3.2rem;
  }
}
