.container {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.sections {
  display: grid;
  padding: 1.6em;
  row-gap: 8.8rem;
}

@media only screen and (min-width: 576px) {
  .sections {
    padding: 1.6rem 3.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .sections {
    padding: 2.4rem 3.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .sections {
    padding: 2.4rem 4.8rem;
    row-gap: 10.4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .sections {
    padding: 3.2rem 10.2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .sections {
    padding: 4.8rem 15rem;
    row-gap: 12rem;
  }
}

@media only screen and (min-width: 1440px) {
  .sections {
    margin: 0 auto;
    padding: 4.8rem 15rem;
    row-gap: 12rem;
  }
}

@media only screen and (min-width: 1732px) {
  .sections {
    max-width: 192rem;
    padding: 4.8rem 24.4rem;
    row-gap: 17.6rem;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
