.projects {
  padding-top: 7.2rem;
  position: relative;
}

.projects-flare {
  background-color: var(--main-color);
  border-radius: 50%;
  filter: blur(120px);
  height: 81.5%;
  left: 0;
  position: absolute;
  top: 13rem;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .projects {
    padding-top: 9.6rem;
  }
}

@media only screen and (min-width: 992px) {
  .projects {
    padding-top: 12rem;
  }

  .projects-flare {
    filter: blur(210px);
  }
}

@media only screen and (min-width: 1200px) {
  .projects {
    padding-top: 13.6em;
  }

  .projects-flare {
    filter: blur(210px);
    left: 50%;
    top: 81%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  .projects {
    padding-top: 20em;
  }
}
