.projects-list {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 31.2rem);
  justify-content: center;
  gap: 3.2em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

@media only screen and (min-width: 576px) {
  .projects-list {
    grid-template-columns: repeat(auto-fit, 54vw);
  }
}

@media only screen and (min-width: 768px) {
  .projects-list {
    grid-template-columns: repeat(auto-fit, 31.2rem);
    gap: 4.8em;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 992px) {
  .projects-list {
    grid-template-columns: repeat(auto-fit, 42.4rem);
    justify-content: space-evenly;
  }
}
