.project {
  background-color: var(--background-project-color);
  border-radius: 2.4em;
  padding: 3.2em;
  width: calc(80vw);
}

.project-image {
  border-radius: 2.4em;
  height: auto;
  margin-bottom: 2.4em;
  width: 100%;
}

.project-title-icon-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.project-title {
  font-size: 1.6rem;
  margin: 0;
}

.project-icon {
  height: 1.8em;
  width: 1.8em;
}

.fa-github {
  display: block;
}

.project-description {
  font-size: 1.4rem;
  line-height: 120%;
  margin: 1.2rem 0 0 0;
}

@media only screen and (min-width: 576px) {
  .project {
    width: calc(54vw);
  }
}

@media only screen and (min-width: 768px) {
  .project {
    width: calc(40vw);
  }
}
