.projects-list {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 32.8rem);
  justify-content: center;
  gap: 3.2em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

@media only screen and (min-width: 576px) {
  .projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .projects-list {
    gap: 4.8em;
    grid-template-columns: repeat(auto-fit, 32.8rem);
  }
}

@media only screen and (min-width: 992px) {
  .projects-list {
    grid-template-columns: repeat(auto-fit, 42.4rem);
    padding-top: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .projects-list {
    gap: 4.8em;
    grid-template-columns: repeat(auto-fit, 32.8rem);
    padding-top: 4.8rem;
  }
}

@media only screen and (min-width: 1440px) {
  .projects-list {
    gap: 5.6em;
    grid-template-columns: repeat(auto-fit, 37.5rem);
    justify-content: space-between;
    padding-top: 5.6rem;
  }
}
