.projects-list {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 32.8rem);
  justify-content: center;
  gap: 2.4em;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

@media only screen and (min-width: 576px) {
  .projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .projects-list {
    gap: 2.4em;
  }
}

@media only screen and (min-width: 992px) {
  .projects-list {
    gap: 1.6em;
  }
}

@media only screen and (min-width: 1200px) {
  .projects-list {
    gap: 2.4rem;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .projects-list {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1732px) {
  .projects-list {
    gap: 3.2rem;
  }
}

@media only screen and (min-width: 1920px) {
  .projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
