.technology-list {
  align-items: flex-end;
  column-gap: 4.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  row-gap: 1.6rem;
}

.technology-image {
  aspect-ratio: auto;
  border-radius: 0.5rem;
  height: 5.6rem;
  mix-blend-mode: luminosity;
  opacity: 30%;
  width: auto;
}

.technology-list li:last-child .technology-image {
  height: 2.4rem;
  width: 11.9rem;
}

.technology-list li:nth-last-child(2) .technology-image {
  width: 10.3rem;
}

@media only screen and (min-width: 768px) {
  .technology-list li:last-child .technology-image {
    height: 2rem;
    width: 9.75rem;
  }

  .technology-list li:nth-last-child(2) .technology-image {
    width: 9.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .technology-list {
    column-gap: 4.7rem;
  }

  .technology-list li:last-child .technology-image {
    height: 2.4rem;
    width: 11.7rem;
  }
}

@media only screen and (min-width: 1200px) {
  .technology-list {
    column-gap: 6.4rem;
  }

  .technology-image {
    height: 5.6rem;
  }

  .technology-list li:last-child .technology-image {
    width: 12rem;
  }

  .technology-list li:nth-last-child(2) .technology-image {
    width: 10.7rem;
  }

  .technology-list li:nth-last-child(3) .technology-image {
    width: 9.2rem;
  }
}

@media only screen and (min-width: 1440px) {
  .technology-list {
    column-gap: 7.9rem;
  }

  .technology-image {
    height: 7.2rem;
  }

  .technology-list li:last-child .technology-image {
    width: 11.9rem;
  }

  .technology-list li:nth-last-child(2) .technology-image {
    width: 13.8rem;
  }

  .technology-list li:nth-last-child(3) .technology-image {
    width: 11.8rem;
  }
}
